body {
    background-color: salmon;
}
h1 {
    text-align: center;
    font-family: 'Nerko One', cursive;
    color: #3073a0;
    font-size: 40px;
}
p {
    font-family: 'Freckle Face', cursive;
    color: hsl(203, 18%, 46%);
    font-size: 40px;
    margin: 120px;
    
}